@{
    ViewBag.Title = "Protected";
}
<div class="jumbotron">
    <h2><i class="fa fa-lock" aria-hidden="true"></i> Protected!</h2>
    <p>This view can only be accessed by Authenticated and Authorized users.</p>
</div>
